@import url("https://fonts.googleapis.com/css2?family=Alata&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Alata", sans-serif;
}

body {
  height: 50px;
  width: 100%;
  max-width: 1250px;
  margin: 0 auto;
  padding: 0 20px;
}

h1 {
  /* background-color: red;
   */
  background-image: linear-gradient(90deg, #ff8d4d, #f4494e);
  text-align: center;
}

.card {
  /* border: 1px solid red; */
  padding: 5px 10px;
}

.cards {
  max-width: 1200px;
  display: flex;
  overflow: hidden;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
}
.card {
  padding: 20px 30px;
  min-width: 300px;
  max-width: 400px;
  text-align: justify;
}
p {
  margin-top: 10px;
}

.contactcontainer {
  display: flex;
}

input {
  display: block;
  min-width: 100%;
  overflow: hidden;
  height: 70px;
  margin-bottom: 20px;
  padding-left: 15px;
  border: 1px solid rgb(175, 171, 171);
  border-radius: 5px;
}
.button {
  margin-top: 10px;
  margin-bottom: 0;
  background: none;
  background-image: linear-gradient(90deg, #ff8d4d, #f4494e);
  color: white;
}

textarea {
  min-width: 100%;
  border: 1px solid rgb(175, 171, 171);
  border-radius: 5px;
}
.left {
  min-width: 50%;
  padding: 20px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.right {
  min-width: 50%;
  padding: 20px 20px;
}

.logos {
  display: flex;
}

i {
  font-size: 50px;
  margin-right: 10px;
}

@media only screen and (max-width: 900px) {
  .cards {
    display: block;
    padding: 0 auto;
  }
  .card {
    min-width: 90%;
    margin: 0 auto;
  }

  .contactcontainer {
    display: block;
  }

  .email {
    margin: 40px 0;
  }
}
